@using DevMaker.FileStorage

@{
    ViewData["Title"] = "Assign Product In Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
   
    var baseUrl = FileBuilder.RootUrl;
    var id = ViewContext.RouteData.Values["id"];
}

@section Styles{
    <style>
        #data-table tbody tr td img {
            height: 60px;
        }
    </style>
}
<div class="m-md-3">
    <h4 class="page-header">Assign Product In Category</h4>
    <a href="/product/HomeCategory" class="mb-3 d-block"><i class="far fa-long-arrow-alt-left mr-1"></i>Back to Category</a>

    <div class="card card-body">
        <table id="data-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Assign</th>
                    <th>Image</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Old Price</th>
                </tr>
            </thead>
        </table>
    </div>

    <button id="btnAssign" class="btn btn-danger mt-3">Add Product To Home Page</button>
</div>

@section scripts{
    <script>
        $(function() {
            dataTable.getData();
        });

        //get data
        const dataTable = {
            table: null,
            init: function() {
                dataTable.table = $("#data-table").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/Product/GetUnassignedData",
                        type: "POST",
                        data: { id: @id }
                    },
                    columns:
                    [
                        {
                            data: "ProductId",
                            "render": function(data) {
                                return `<input class="form-check-input" type="checkbox" value="${data}" id="${data}"/><label class="form-check-label" for="${data}"></label>`;
                            }
                        },
                        {
                            data: "ImageFileName",
                            "render": function(data) {
                                return `<img src="@baseUrl/${data}" alt="">`;
                            }
                        },
                        { data: "ProductCode" },
                        { data: "ProductName" },
                        { data: "Price", "render": dataTable.addSign },
                        { data: "OldPrice", "render": dataTable.addSign },
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [0] },
                        { 'className': "text-right", "targets": [4, 5] },
                        { 'className': "text-center", "targets": [0, 1,2] }
                    ]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            addSign: function(data) { return `${data}/-` }
        };

        (function() {
            const btnAssign = document.getElementById("btnAssign");
            btnAssign.addEventListener("click",
                function() {
                    const ProductIds = [];
                    $("input:checkbox[class=form-check-input]:checked").each(function() {
                        ProductIds.push($(this).val());
                    });

                    const body = { HomeMenuId: @id, ProductIds }

                    if (!ProductIds.length) return;

                    $.ajax({
                        url: "/Product/PostAssignCategory",
                        type: "POST",
                        data: body,
                        success: response => {
                            $.notify(response.Message, response.IsSuccess ? "success" : "error");

                            if (response.IsSuccess) {
                                dataTable.getData();
                            }
                        },
                        error: error => {
                            console.log(error);
                        }
                    });
                });
        })();
    </script>
}