
@{
    ViewData["Title"] = "Item";
}

<div class="container">
    <form id="formAdd">
        <div class="row">
            <div class="col-lg-6 col-lg-5"></div>
            <div class="col-lg-6 col-lg-7">

            </div>
        </div>
    </form>
</div>

