<!DOCTYPE html>
@*@{
    var appName = Environment.GetEnvironmentVariable("APP_NAME");
}*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Muslim Fashion Ltd.</title>
    <link rel="icon" type="image/png" href="/imgs/fabicon.ico">

    <!-- font awesome -->
    <link href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <!-- bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MDB -->
    <link href="~/mdb/css/mdb-admin.min.css" rel="stylesheet" />
    <!-- data-tables -->
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet" />
    <!-- side navbar style-->
    <link href="~/css/side-navbar.css" rel="stylesheet" />
    <!-- custom style-->
    <link href="~/css/admin-layout.css?v=1.1.2" rel="stylesheet" />
    <!-- printing -->
    <link href="~/css/print-page.css" rel="stylesheet" />
    <!-- Custom style -->
    <link href="~/css/custom-layout.css?v=1.1.2" rel="stylesheet" />
    <!-- others style-->
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <header>
        <nav class="m-0 navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <div>
                    <a class="sidedrawer-toggle d-md-none js-show-sidedrawer d-print-none"><i class="fas fa-bars"></i></a>
                    <a class="sidedrawer-toggle d-none d-md-inline-block js-hide-sidedrawer d-print-none"><i class="fas fa-bars"></i></a>
                    <a href="/Home/Index" class="navbar-brand ml-1">Muslim Fashion Ltd.</a>
                </div>

                <ul class="navbar-nav ml-sm-auto flex-row">
                    <li class="nav-item mr-3">
                        <div id="cartCount" class="cart-area">
                            <span class="nav-link"><i class="fal fa-shopping-cart"></i></span>
                            <span class="cart-product-count">
                                <span class="total-cart-count">0</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="sidedrawer" class="d-print-none z-depth-1">
        <Partial Name="_AdminLoginPartial" />
        <ul id="menuItem">
            <li>
                <strong>
                    <span class="fas fa-tachometer-alt"></span>
                    <a class="links" href="/Customer/Dashboard">Dashboard</a>
                </strong>
            </li>
            <li>
                <strong>
                    <span class="fas fa-address-book"></span>
                    <a class="links" href="/Customer/AddressBook">Address Book</a>
                </strong>
            </li>
            <li>
                <strong>
                    <span class="far fa-credit-card"></span>
                    <a class="links" href="/Customer/PaymentMethod">Payment Method</a>
                </strong>
            </li>
        </ul>
    </div>

    <main id="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer font-small wow fadeIn mt-4">
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year Copyright:
            <a href="#">Muslim Fashion Ltd.</a>
        </div>
    </footer>
    
<!-- cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger modal-lg" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <p class="heading mb-0"><strong>Shopping Cart</strong></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <form asp-action="Checkout" asp-controller="Product">
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="show-cart table product-table">
                            <thead>
                            <tr>
                                <th class="text-left"><strong>Product</strong></th>
                                <th><strong>Price</strong></th>
                                <th class="text-left"><strong>Quantity</strong></th>
                                <th class="text-right"><strong>Remove</strong></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer flex-end">
                    <h5 class="mb-0 font-weight-bold">Total: ৳<strong class="grand-total-amount">0</strong></h5>
                    <button type="submit" class="btn btn-danger btn-rounded">Checkout <i class="fas fa-angle-right right"></i></button>
                </div>
            </form> 
        </div>
    </div>
</div>


<!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--scroll-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <!-- autocomplete -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<!-- data-tables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

    <!-- MDB core JavaScript -->
    <script src="~/mdb/js/mdb-admin.min.js"></script>
    <!--notify js-->
    <script src="~/js/notify.min.js"></script>
    <!--moment js-->
    <script src="~/js/moment.js"></script>
    <!--sidebar-->
    <script src="https://cdn.muicss.com/mui-latest/js/mui.min.js"></script>
    <script src="~/js/sidedrawer-links.js"></script>
    <script src="~/js/sidedrawer-show-hide.js"></script>

    <!--shopping-cart-->
    <script src="~/pages-js/shopping-cart.js?v=1.0.1"></script>

    <script src="~/pages-js/global-methods.js"></script>
    <!-- others js -->
    @await RenderSectionAsync("Scripts", false)

    <script type="text/javascript">
        $(function () {
            //Back to top
            $('body').append('<div id="toTop">TOP</div>');
            $(window).scroll(function () {
                if ($(this).scrollTop() !== 0)
                    $('#toTop').fadeIn();
                else
                    $('#toTop').fadeOut();
            });

            $('#toTop').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });


            // Animations initialization
            new WOW().init();

            //Nice Scroll
            $("#sidedrawer").niceScroll({
                cursorcolor: "#a4a4a4", // change cursor color in hex
                cursorwidth: "7px", // cursor width in pixel (you can also write "5px")
                cursorborder: "1px solid #a4a4a4", // css definition for cursor border
                cursorborderradius: "3px", // border radius in pixel for cursor
                emulatetouch: true // enable cursor-drag scrolling like touch devices in desktop computer
            });

            $("#sidedrawer").mouseover(function () {
                $("#sidedrawer").getNiceScroll().resize();
            });
        });

        //disable wheel in number type input
        document.addEventListener("wheel", () => {
            if (document.activeElement.type === "number")
                document.activeElement.blur();
        });

        //select-picker error
        if ($.fn.selectpicker)
            $.fn.selectpicker.Constructor.BootstrapVersion = '4';
    </script>
</body>
</html>