<!DOCTYPE html>
@{
    var appName = Environment.GetEnvironmentVariable("APP_NAME");
}
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Muslim Fashion Ltd.</title>

    <!-- Font Awesome -->
    <link href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MDB -->
    <link href="~/mdb/css/mdb-admin.min.css" rel="stylesheet" />
    <!-- Custom style -->
    <link href="~/css/custom-layout.css?v=1.0.0" rel="stylesheet" />

    <!-- Others page style -->
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark z-depth-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home">Muslim Fashion Ltd.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-nav" aria-controls="collapse-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapse-nav">
                    <ul id="menu-items" class="navbar-nav mr-auto"></ul>
                </div>
                <ul class="navbar-nav ml-sm-auto flex-row">
                    <partial name="_LoginPartial" />
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://www.facebook.com/Muslimfashionltd/"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <div data-toggle="modal" data-target="#cartModal" style="cursor: pointer">
                            <span class="nav-link"><i class="fal fa-shopping-cart"></i></span>
                            <span class="cart-product-count">
                                <span class="total-cart-count"></span>
                            </span>
                        </div>

                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="page-footer font-small wow fadeIn mt-4">
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year Copyright:
            <a href="">Muslim Fashion Ltd.</a>
        </div>
    </footer>

    <!-- cart Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-danger modal-lg" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <p class="heading mb-0"><strong>Shopping Cart</strong></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <form asp-action="Checkout" asp-controller="Product">
                    <div class="modal-body">
                        <table class="show-cart table product-table">
                            <thead>
                                <tr>
                                    <th class="text-left"><strong>Product</strong></th>
                                    <th><strong>Price</strong></th>
                                    <th class="text-center"><strong>Quantity</strong></th>
                                    <th><strong>Line Total</strong></th>
                                    <th class="text-right"><strong>Remove</strong></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer flex-end">
                        <h5 class="mb-0 font-weight-bold">Total: ৳<strong class="grand-total-amount">0</strong></h5>
                        <button type="submit" class="btn btn-danger btn-rounded">Checkout <i class="fas fa-angle-right right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>




<!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/mdb/js/mdb-admin.min.js"></script>
    <!--notify js-->
    <script src="~/js/notify.min.js"></script>

    <!--menus js-->
    <script src="~/pages-js/show-menus.js"></script>

    <!--others page js-->
    @await RenderSectionAsync("Scripts", false)

    <script>
        $(() => {
            new WOW().init();
        });

        //disable wheel in number type input
        document.addEventListener("wheel", () => {
            if (document.activeElement.type === "number")
                document.activeElement.blur();
        });
    </script>
</body>
</html>

