@using Microsoft.AspNetCore.Identity
@using MuslimFashion.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" href="/Dashboard" title="Dashboard">
            <i class="fal fa-user"></i>
            @User.Identity.Name
        </a>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fal fa-sign-out-alt"></i>
                Logout
            </a>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="/Account/Login"><i class="fal fa-sign-in mr-1"></i>Login</a>
    </li>
}

