
<ul id="menuItem">
    <li>
        <strong>
            <span class="fas fa-tachometer-alt"></span>
            <a class="links" href="/Dashboard/Index">Dashboard</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-cogs"></span>
            <i class="fas fa-caret-right"></i>Basic Settings
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/BasicSettings/ImageSlider">Image Slider</a></li>
            <li><a class="links" href="/BasicSettings/Menu">Category</a></li>
            <li><a class="links" href="/BasicSettings/SubMenu">Sub-Category</a></li>
            <li><a class="links" href="/BasicSettings/Size">Add Sizes</a></li>
            <li><a class="links" href="/BasicSettings/DeliveryCost">Add Delivery Cost</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fab fa-opencart"></span>
            <i class="fas fa-caret-right"></i>Product
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Product/AddProduct">Add Product</a></li>
            <li><a class="links" href="/Product/AllProducts">All Products</a></li>
            <li><a class="links" href="/Product/HomeCategory">Show Product</a></li>
        </ul>
    </li>
    <li>
        <strong>
            <span class="fas fa-shopping-bag"></span>
            <i class="fas fa-caret-right"></i>Order
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Order/CreateOrder">Create Order</a></li>
            <li><a class="links" href="/Order/PendingList">Pending List</a></li>
            <li><a class="links" href="/Order/ConfirmedList">Confirmed List</a></li>
            <li><a class="links" href="/Order/DeliveredList">Delivered List</a></li>
        </ul>
    </li>
</ul>