
<ul id="menuItem">
    <li>
        <strong>
            <span class="fas fa-tachometer-alt"></span>
            <a class="links" href="/Dashboard/Index">Dashboard</a>
        </strong>
    </li>
    <li>
        <strong>
            <span class="fas fa-users"></span>
            <i class="fas fa-caret-right"></i>User Create & Access
        </strong>
        <ul class="sub-menu">
            <li><a class="links" href="/Users/CreateSubAdmin">Create Sub-Admin</a></li>
            <li><a class="links" href="/Users/SubAdminList">Sub-Admin List</a></li>
        </ul>
    </li>
</ul>