@using MuslimFashion.ViewModel
@model MuslimFashion.ViewModel.Common.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <p><strong></strong><code>@Model.Code</code></p>
    <p><strong></strong><code>@Model.Message</code></p>
</div>


