@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    ViewBag.Title = "Locked Out";
}

<div class="container">
    <div class="card card-body text-center mt-3 p-5">
        <i class="text-danger fas fa-user-lock fa-3x"></i>
        
        <h3 class="text-danger font-weight-bold mt-3">Locked Out</h3>
        <p class="text-danger mb-0">This account has been locked out, please try again later.</p>
    </div>
</div>
