
    <style>
        .bkash-payment, .nagad-payment { display: flex; align-items: center; justify-content: center; }
        .bkash-payment p { margin-bottom: 0; color: #e2136e }

        .nagad-payment { margin-top: -15px }
        .nagad-payment p { margin-bottom: 0; color: #ed1c24 }
        .bkash-payment img, .nagad-payment img { height: 50px; }
    </style>
    <div>
    <div class="bkash-payment">
        <img src="~/imgs/BKash-Logo.svg" alt="bkash payment" />
        <p>01961699811 (Personal)</p>
    </div>
    <div class="nagad-payment">
        <img src="~/imgs/Nagad-Logo.svg" alt="nagad payment" />
        <p>01819099940 (Personal)</p>
    </div>
</div>
