
@{
    ViewData["Title"] = "Payment Method";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card card-body text-center mt-3">
                <h4 class="page-header">Payment Method</h4>
                <partial name="PaymentMethods" />
            </div>
        </div>
    </div>
</div>