body { background-color: #e9f2f9; }

:root { --bg-primary: #e53935; --bg-secondary: #ef5350; }

header nav { background-color: var(--bg-primary) }
.btn-custom-bg { background-color: var(--bg-secondary); color: #fff }
.btn-custom-bg:hover { background-color: var(--bg-primary); color: #fff }

.page-header { font-weight: bold; margin-bottom: 0; font-size: 1.6rem; text-transform: uppercase; }

/*main*/
main { min-height: 86vh; }

/*data table*/
.table td, .table th {vertical-align: middle;}

/*footer*/
footer { background-color: var(--bg-primary) }


.delete, .update{cursor: pointer}
.delete{color: red}

/* validation helpers */
.field-validation-error { color: #ee2420; font-size: .85rem; }
.field-validation-valid { display: none; }

input.input-validation-error { border-bottom: 1px solid #b94a48 !important; }
input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #b94a48; }
.validation-summary-errors ul { padding: 0; margin: 0; list-style: none; }
.validation-summary-valid { display: none; }


/**DISABLE INPUT TYPE NUMBER WHEEL**/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"] { -moz-appearance: textfield; }


#toTop { background-color: var(--bg-secondary); color: #fff; bottom: 10px; cursor: pointer; display: none; position: fixed; right: 10px; z-index: 999; padding: 6px 13px; border-radius: 5px; }
