
@{
    ViewData["Title"] = "Brands";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h4 class="page-header mb-3">Product Brand</h4>

    <div class="card card-body">
        <form id="formAdd">
            <div class="row">
                <div class="col-lg-10">
                    <div class="md-form">
                        <label for="inputBrand">Brand Name</label>
                        <input id="inputBrand" type="text" class="form-control" required />
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="submit" value="Add" class="btn btn-danger btn-md btn-rounded" />
                    </div>
                </div>
            </div>
        </form>

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>brand name</span>
                <div>
                    <i class="update far fa-edit mr-3"></i>
                    <i class="delete far fa-trash-alt"></i>
                </div>
            </li>
        </ul>
    </div>
</div>

