
@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link href="~/pages-css/home.css" rel="stylesheet" />
}

<div class="container">
    <div id="carouselImage" class="carousel slide carousel-fade mt-4 z-depth-1 rounded" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/PRODUCTS/slider/1.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/PRODUCTS/slider/2.jpg" alt="">
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselImage" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselImage" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section>
        <h4 class="category-title">Men's Shirt</h4>
        <div class="row mb-5">
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/shirts/2.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Regular-fit Shirt</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/shirts/1.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Classic Fit Shirt</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/shirts/3.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Regular Fit Shirt</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/shirts/4.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Short-Sleeve Shirt</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="category-title pt-3">Men's Pant</h4>
        <div class="row mb-5">
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/pants/1.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Party Formal Pant</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/pants/2.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Business Casual Pant</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/pants/3.webp" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Loose Business Casual Pant</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/pants/4.webp" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Cotton and linen Slim Pant</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="category-title pt-3">Men's Suit</h4>
        <div class="row mb-5">
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/suit/1.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Fit Suit Separates Suit</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/suit/2.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's 2 Button Slim Fit Suit</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/suit/3.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's All Wool Slim Fit Suit</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/suit/4.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Men's Suny Vested 3 Piece Suit</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="category-title pt-3">Men's Panjabi</h4>
        <div class="row mb-5">
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/panjabi/1.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Navy Blue Blended Panjabi</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/panjabi/2.jpeg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Red With Gray Contrast</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/panjabi/3.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Casual Men Panjabi</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/panjabi/4.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Embroidery on Band Panjabi</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
        </div>



        <h4 class="category-title pt-3">Fabrics</h4>
        <div class="row mb-5">
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/fabrics/1.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Mascot 100% Cotton Shirting Fabric</h4>
                        <p class="product-price">৳1200</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/fabrics/2.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Male Plain Cotton Shirting Fabric</h4>
                        <p class="product-price">৳1600</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/fabrics/3.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Napoleon Mills 200 GSM Cotton Stripe Shirt Fabric</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="/PRODUCTS/fabrics/4.jpg" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">Cotton Plain Vimal Suit Length</h4>
                        <p class="product-price">৳1000</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

